<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="Login">
        <h1>Registrarse</h1>
        <form (ngSubmit)="registrar()" [formGroup]="registrarUsuario">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
                <label>Email</label>
                <span *ngIf="registrarUsuario.get('email')?.hasError('required') && registrarUsuario.get('email')?.touched" class="text-danger errorLabel">
                    El <strong>correo</strong> es requerido
                </span>
                <span *ngIf="registrarUsuario.get('email')?.hasError('email') && registrarUsuario.get('email')?.touched" class="text-danger errorLabel">
                    El <strong>correo</strong> es invalido
                </span>


            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="nombre" placeholder="Brian"  pattern="^[A-Za-záéíóúÁÉÍÓÚñÑ]+$">
              <label>Nombre</label>
              <span *ngIf="registrarUsuario.get('nombre')?.hasError('required') && registrarUsuario.get('nombre')?.touched" class="text-danger errorLabel">
                  El <strong>nombre</strong> es requerido
              </span>
              <span *ngIf="registrarUsuario.get('nombre')?.hasError('minlength') && registrarUsuario.get('nombre')?.touched" class="text-danger errorLabel">
                El <strong>nombre</strong> debe tener al menos 2 caracteres
            </span>
            <span *ngIf="registrarUsuario.get('nombre')?.hasError('pattern') && registrarUsuario.get('nombre')?.touched" class="text-danger errorLabel">
                El <strong>Nombre</strong> solo tiene texto
            </span>


          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" formControlName="apellido" placeholder="Ram"  pattern="^[A-Za-záéíóúÁÉÍÓÚñÑ]+$">
            <label>Apellido</label>
            <span *ngIf="registrarUsuario.get('apellido')?.hasError('required') && registrarUsuario.get('apellido')?.touched" class="text-danger errorLabel">
                El <strong>apellido</strong> es requerido
            </span>
            <span *ngIf="registrarUsuario.get('apellido')?.hasError('minlength') && registrarUsuario.get('apellido')?.touched" class="text-danger errorLabel">
              El <strong>apellido</strong> debe tener al menos 2 caracteres
          </span>
          <span *ngIf="registrarUsuario.get('apellido')?.hasError('pattern') && registrarUsuario.get('apellido')?.touched" class="text-danger errorLabel">
            El <strong>Apellido</strong> solo tiene texto
        </span>
          <br>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" formControlName="cedula" placeholder="cedula">
            <label>cedula</label>
            <span *ngIf="registrarUsuario.get('cedula')?.hasError('pattern') && registrarUsuario.get('cedula')?.touched" class="text-danger errorLabel">
                La <strong>cedula</strong> no cumple con el formato 0-000-000
            </span>
          </div>
          


        </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" formControlName="password" placeholder="Password">
                <label>Password</label>
                <span *ngIf="registrarUsuario.get('password')?.hasError('required') && registrarUsuario.get('password')?.touched" class="text-danger errorLabel">
                    La <strong>password</strong> es requerida
                </span>
                <span *ngIf="registrarUsuario.get('password')?.hasError('minlength') && registrarUsuario.get('password')?.touched" class="text-danger errorLabel">
                    El <strong>password</strong> debe tener 6 caracteres
                </span>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" formControlName="repetirPassword" placeholder="Repetir Password">
                <label>Repetir Passowrd</label>
            </div>
            <div cclass="d-none">
              <input type="text" class="d-none" formControlName="horas">

          </div>
          <div class="d-none">
            <input type="text" class="d-none" formControlName="UID" placeholder="Repetir Password">

        </div>
            <div class="d-grid gap-2 mb-3">
                <button class="btn btn-primary btn-lg"  type="submit">Aceptar</button>
            </div>


            <a routerLink="/dashboard">Volver</a>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>
