<form class="loginform" [formGroup]="agregar">
  <div class="contenedortext">
    <div class="logininfo">
      <h1>Agregar Datos</h1>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email" required>
    </div>
    <div class="form-group">
      <label for="cedula">Cédula:</label>
      <select formControlName="cedula" class="form-select" (change)="seleccionarCedula($event)">
        <option *ngFor="let cedula of cedulas | async" >{{ cedula.cedula }}</option>
      </select>
      
    </div>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" formControlName="nombre" class="form-control" id="nombre" placeholder="Nombre" required>
    </div>
    <div class="form-group">
      <label for="apellido">Apellido:</label>
      <input type="text" formControlName="apellido" class="form-control" id="apellido" placeholder="Apellido" required>
    </div>
    <div class="form-group">
      <label for="horas">Horas:</label>
      <input type="number" formControlName="horas" class="form-control" id="horas" placeholder="Horas" required>
    </div>
    <div class="form-group">
      <label for="actividad">Actividad:</label>
      <input type="text" formControlName="actividad" class="form-control" id="actividad" placeholder="Actividad" required>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <input type="text" formControlName="descripcion" class="form-control" id="descripcion" placeholder="Descripción" required>
    </div>
    <hr class="my-4">
    <button type="submit" class="btn btn-primary" (click)="agregarDatos()">agregar Datos</button>
  </div>
</form>
